.SiteExperiencia {
  display: flex;
  justify-content: center;
  padding: 80px;
  border-left: 6px solid $GreenOne;
  @extend %Hover;
  .SiteExperiencia_Container {
    max-width: 1140px;
    width: 90%;
    display: flex;
    flex-direction: row;
    grid-gap: 64px;
    .SiteExperiencia_Container_BigTitle {
      @extend %Hover;
      color: $C5;
      font-size: 144px;
      line-height: 144px;
      word-break: break-all;
      text-transform: uppercase;
      font-weight: 700;
      width: 320px;
      flex-shrink: 0;
      &:hover{
        color: $GreenOne;
      }
    }
    .SiteExperiencia_Container_RealContent {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .Container_RealContent_Text {
        text-align: right;
        font-size: 24px;
        line-height: 32px;
        max-width: 540px;
      }
      .Container_RealContent_Jobs {
        margin-top: 64px;
        .RealContent_Jobs_Item {
          display: flex;
          flex-direction: row;
          grid-gap: 32px;
          margin-bottom: 24px;
          .Jobs_Item_Time {
            color: $C10;
          }
          .Jobs_Item_Carreer {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 24px;
            background-color: $C1;
            padding: 20px;
            border-radius: 6px;
            position: relative;
            border: 2px solid $C2;
            @extend %Hover;
            &:before {
              width: 4px;
              height: 12%;
              background-image: linear-gradient(45deg, $GreenOne, $GreenTwo);
              content: " ";
              display: block;
              position: absolute;
              left: -5px;
              top: 16px;
              opacity: 1;
            }
            .Item_Carreer_SkillsSide {
              display: flex;
              flex-direction: column;
              grid-gap: 12px;
              .Carreer_SkillsSide_Title {
                color: $Black;
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
              }
              .Carreer_SkillsSide_ContainerSkills {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                grid-gap: 12px;
                .SkillsSide_ContainerSkills_Item {
                  background-color: $White;
                  color: $C13;
                  font-size: 14px;
                  line-height: 22px;
                  font-weight: 500;
                  padding: 2px 6px;
                  border-radius: 4px;
                  @extend %Hover;
                  &:hover {
                    color: $White;
                    background-color: $GreenOne;
                  }
                }
              }
            }
            .Item_Carreer_Infos {
              display: flex;
              flex-direction: column;
              grid-gap: 8px;
              .Carreer_Infos_Title {
                color: $Black;
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
              }
              .Carreer_Infos_Text {
                color: $C10;
                font-size: 16px;
                line-height: 24px;
              }
            }
            &:hover {
              border: 2px solid $GreenOne;
              &:before {
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1140px){
  .SiteExperiencia{
    padding: 80px 0px;
    .SiteExperiencia_Container{
      flex-direction: column;
      .SiteExperiencia_Container_BigTitle{
        width: 100%;
        word-break: keep-all;
        font-size: 80px;
        line-height: 88px;
        text-align: center;
      }
      .SiteExperiencia_Container_RealContent{
        .Container_RealContent_Text{
          text-align: center;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 780px){
  .SiteExperiencia {
    .SiteExperiencia_Container{
      .SiteExperiencia_Container_BigTitle{
        word-break: break-all;
      }
      .SiteExperiencia_Container_RealContent{
        .Container_RealContent_Jobs{
          width: 100%;
          .RealContent_Jobs_Item{
            grid-gap: 16px;
            flex-direction: column;
            margin-bottom: 64px;
            &:last-child{
              margin-bottom: inherit;
            }
            .Jobs_Item_Carreer{
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px){
  .SiteExperiencia{
    .SiteExperiencia_Container{
      grid-gap: 24px;
    }
  }
}