$C13: #141414;
$GreenOne: #70da1c;
$GreenTwo: #ccf235;
$GrayOne: #484848;

%Hover {
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

// // @extend %Hover;
