$C1: #f5f5f5;
$C2: #f0f0f0;
$C3: #e0e0e0;
$C4: #ccc;
$C5: #b8b8b8;
$C6: #a3a3a3;
$C7: #8f8f8f;
$C8: #7a7a7a;
$C9: #666;
$C10: #525252;
$C11: #3d3d3d;
$C12: #292929;
$C13: #141414;

$White: #fff;
$Black: #000;
$GreenOne: #70da1c;
$GreenTwo: #ccf235;
$GrayOne: #484848;

%Hover {
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

// // @extend %Hover;
